@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    --color-background: #222;
    --color-nav-background: #111;
    --color-main: #e5e5e5;
    --color-secondary: #b0a990;
    --color-accent: #8c6f4a;
    --color-error: #c0392b;

    --font-main: Prata, serif;
    --font-header: "Playfair Display SC", serif;

    --nav-height: 5vh;
    --nav-inner-hpadding: 6pt;

    background-color: var(--color-background);
    color: var(--color-main);

    font-family: var(--font-main);
}

h1 {
    font-size: 22pt !important;
    font-weight: normal !important;
    font-family: var(--font-header) !important;
    
    color: var(--color-main);
}

h2 {
    font-size: 16pt !important;
    font-weight: normal !important;
    color: var(--color-main);
}

main {
    margin-top: calc(var(--nav-height) + 1vh);
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    
    padding-left: var(--nav-inner-hpadding);
    padding-right: var(--nav-inner-hpadding);

    width: calc(100% - 2*var(--nav-inner-hpadding));
    height: var(--nav-height);
    z-index: 1000;

    background-color: var(--color-nav-background);
    border-bottom: 1pt solid var(--color-secondary);

    /*
        The `box-shadow` property applies shadow effects around an element's frame. 
        It accepts several parameters, which can be specified as follows:

        box-shadow: [offset-x] [offset-y] [blur-radius] [spread-radius] [color] [inset];

        Parameters:
            - offset-x:    Required. The horizontal distance of the shadow. Positive values place the shadow to the right of the element, negative to the left.
            - offset-y:    Required. The vertical distance of the shadow. Positive values place the shadow below the element, negative above.
            - blur-radius: Optional. The blur distance; the higher the value, the more blurred the shadow. Default is 0 (sharp shadow).
            - spread-radius: Optional. The size of the shadow. Positive values cause the shadow to expand and grow bigger, negative values shrink it.
            - color:       Optional. The color of the shadow. If omitted, the browser uses the current color of the element.
            - inset:       Optional. Changes the shadow from an outer shadow (default) to an inner shadow.

        Multiple shadows can be applied by separating each shadow with a comma.
    */
    box-shadow: 0 0.1vh 1vh 0 var(--color-secondary);
}

.nav-header {
    background-color: var(--color-nav-background);
    color: var(--color-main);

    font-family: var(--font-header);
    font-size: calc(var(--nav-height) * 0.5);

    padding-right: var(--nav-inner-hpadding);
    border-right: 1pt solid var(--color-accent);

    height: 100%;

    display: flex;
    align-items: center;
}