@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');

:root {
    --color-background: #222;
    --color-background-even: #3b352a;
    --color-background-odd: #474031;
    --color-nav-background: #111;
    --color-main: #f0f0f0;
    --color-secondary: #d8d2bc;
    --color-accent: #b89571;
    --color-error: #e74c3c;

    /*--font-main: "Cormorant Garamond", serif;*/
    --font-main: "Murecho", sans-serif;
    /*--font-header: "Playfair Display SC", serif;*/
    --font-header: "Murecho", sans-serif;

    --font-size-h1: 22pt;
    --font-size-h2: 20pt;
    --font-size-h3: 16pt;
    --font-size-div: 14pt;
    --font-size-div-small: 12pt;
    --font-size-div-tiny: 10pt;

    --nav-height: 5vh;
    --nav-inner-hpadding: 6pt;

    --text-section-div-margin: 6pt;
}

* {
    background-color: var(--color-background);
    color: var(--color-main);

    font-family: var(--font-main);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 {
    font-size: var(--font-size-h1) !important;
    font-weight: normal !important;
    font-family: var(--font-header) !important;
    color: var(--color-main);
}

h2 {
    font-size: var(--font-size-h2) !important;
    font-weight: normal !important;
    color: var(--color-main);
}

h3 {
    font-size: var(--font-size-h3) !important;
    font-weight: normal !important;
    color: var(--color-secondary);
    font-family: var(--font-main) !important;
    margin-top: 2vh !important;
    margin-bottom: 0.5vh !important;
    border-bottom: 1pt solid var(--color-accent);
}

div {
    font-size: var(--font-size-div);
    font-weight: normal !important;
    color: var(--color-main);
    font-family: var(--font-main) !important;
}

b {
    background-color: inherit;
}
a {
    background-color: inherit;
}

main {
    margin-top: calc(var(--nav-height) + 1vh);
}

select {
    font-size: var(--font-size-div-small);
    padding-top: 1pt;
    padding-bottom: 1pt;
    scrollbar-width: thin;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    padding-left: var(--nav-inner-hpadding);
    padding-right: var(--nav-inner-hpadding);

    width: calc(100% - 2*var(--nav-inner-hpadding));
    height: var(--nav-height);
    z-index: 1000;

    background-color: var(--color-nav-background);
    border-bottom: 1pt solid var(--color-secondary);

    box-shadow: 0 0.1vh 1vh 0 var(--color-secondary);
}

.nav-header {
    background-color: var(--color-nav-background);
    color: var(--color-main);

    font-family: var(--font-header) !important;
    font-size: calc(var(--nav-height) * 0.5);

    padding-right: var(--nav-inner-hpadding);
    border-right: 2pt solid var(--color-accent);

    height: 100%;

    display: flex;
    align-items: center;
}

.nav-header c{
    background-color: var(--color-nav-background);
    font-weight: regular !important;
    font-size: calc(var(--nav-height) * 0.67);
    margin-left: 4pt;
    margin-right: 1pt;
    margin-bottom: calc(var(--nav-height) * (0.67 - 0.5)/2);
}

.nav-link {
    background-color: var(--color-nav-background);
    color: var(--color-main);

    font-family: var(--font-main);
    font-size: var(--font-size-div);
    font-weight: normal;

    padding: 0 var(--nav-inner-hpadding);
    height: 100%;
    width: 10vw;

    display: flex;
    align-items: center;

    text-decoration: none;
    border-right: 1pt solid var(--color-secondary);
    transition: background 0.2s, color 0.2s, font-weight 0.2s;

    cursor: pointer;

}

.nav-link:hover,
.nav-link:focus {
    background-color: var(--color-accent);
    color: var(--color-background);
    font-weight: bold !important;
}

.text-section {
    border-left: 4pt solid var(--color-accent);
    padding-left: 4pt;
    margin-bottom: 2pt;
}

.text-section>div {
    margin-top: var(--text-section-div-margin);
    margin-bottom: var(--text-section-div-margin);
    background-color: var(--color-background-even) !important;
    padding-left: 4pt;
    padding-top: 6pt;
    padding-bottom: 4pt;

    border-top: 0.5pt solid var(--color-secondary);
    border-bottom: 1pt solid var(--color-accent);
}

.text-section>div:nth-child(odd) {
    background-color: var(--color-background-odd) !important;
}

.text-section>div:first-child {
    margin-top: 0 !important;
}

.text-section>div:last-child {
    margin-bottom: 0 !important;
}




/* ---------------- Listing Page ---------------- */
.product-header-row {
    --ph-margin: 2pt;
    --ph-tb-padding: 2pt;

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.product-header {
    
    width: calc(33% - var(--ph-margin)*2 - 4pt);
    
    margin-right: var(--ph-margin);
    margin-left: var(--ph-margin);
    
    padding-top: var(--ph-tb-padding);
    padding-bottom: calc(var(--ph-tb-padding) * 2);

    background-color: var(--color-nav-background);
    box-sizing: border-box;
    border: 2pt solid var(--color-accent);
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;

    text-align: center;
}

.product-header:hover {
    border-color: #fff !important;
    color: #fff !important;
    font-weight: bold;
}

.product-cell-row {
    --ph-margin: 2pt;
    --ph-tb-padding: 2pt;

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    min-height: calc(var(--font-size-div) + var(--ph-tb-padding)*3);
}

.product-cell {

    width: calc(33% - var(--ph-margin)*2 - 2pt);

    margin-top: calc(var(--ph-margin) * 1.5);
    margin-right: var(--ph-margin);
    margin-left: var(--ph-margin);
    
    padding-top: var(--ph-tb-padding);
    padding-bottom: calc(var(--ph-tb-padding) * 2);

    background-color: var(--color-nav-background);
    box-sizing: border-box;
    border: 1pt solid var(--color-accent);
    text-align: center;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    vertical-align: middle;
}

.filter-label {
    margin-right: 1pt;
}

.filter-select {
    margin-left: 1pt;
    margin-right: 2pt;
}

.filter-section {
    border-right: 1pt solid var(--color-accent);
    padding-left: 2pt;
    padding-right: 2pt;
    margin-right: 6pt;

    display: flex;
    flex-direction: row;

    justify-content: start;
    align-items: start;

    min-width: 10pt;
}

.filter-section:last-child {
    border-right: none;
    margin-right: 0;
}

.filter-details {
    border: 1pt solid var(--color-accent);
    margin-right: 10pt;
    width: 15%;
    background-color: var(--color-background-even);
}

.filter-details summary {
    cursor: pointer;
    padding: 4pt 6pt;
    font-size: var(--font-size-div-small);
    background-color: var(--color-nav-background);
    border-bottom: 1pt solid var(--color-accent);
    list-style: none;
}

.filter-details[open] summary {
    background-color: var(--color-accent);
    color: var(--color-background);
    font-weight: bold;
}

.filter-list {
    max-height: 150pt;       /* scroll limit */
    overflow-y: auto;
    padding: 4pt;
}

.filter-list div {
    font-size: var(--font-size-div-tiny);
    padding: 2pt 4pt;
    cursor: pointer;
}

.filter-list div:hover {
    background-color: var(--color-accent);
    color: var(--color-background-even);
}

.group {
    margin-top: 6pt;
    font-weight: 600 !important;
    font-size: var(--font-size-div-small) !important;
    color: var(--color-secondary);
    padding-bottom: 1pt;
    border-bottom: 1pt solid var(--color-secondary);

    margin-bottom: 2pt;
}

.subgroup {
    font-size: var(--font-size-div-small) !important;
    font-weight: 500 !important;
    color: var(--color-accent);
    border-bottom: 1pt solid var(--color-accent);
    margin-bottom: 2pt;
    padding-bottom: 1pt;
}

.filter-button {
    background-color: var(--color-nav-background);
    color: var(--color-accent);
    border: 1pt solid var(--color-accent);
    padding: 4pt 8pt;
    margin-right: 6pt;
    cursor: pointer;
    transition: border-color 0.2s, color 0.2s, font-weight 0.2s;

    width: 10%;
}
.filter-button:hover {
    color: var(--color-main);
    font-weight: bold !important;
    border-color: var(--color-main) !important;

    width: 10%;
}

.filter-icon {
    background-color: var(--color-nav-background);

    --ico-size: 16pt;
    width: var(--ico-size);
    height: var(--ico-size);

    margin-right: 4pt;
}